@charset "utf-8";
/* CSS Document */

/* ------ 初期化 ------*/
html {
	height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, img {
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, sans-serif;
	font-size: 14px;
	/font-size: 13px; /* ie6_7 */
	font-size: 13px\9; /* ie8 */
	line-height: 1.8em;
	position:relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
	overflow-x: hidden;
}

h1,
h2{
	font-size : 100%;
	font-weight: normal;
}

img {
	vertical-align: top;
	border: none;
}

a {
	color: #434343;
	outline: none;
	text-decoration: none;
}

a:hover {
	/*color: #333333;*/
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

/* ------ 共通クラス ------*/

.f_left {
	float: left;
}
.f_right {
	float: right;
}
.c_both {
	clear: both;
}

.fsS {
	font-size: 90%;
}

.fsS80 {
	font-size: 80%;
}

.bold {
	font-weight: bold !important;
}

.txt_c {
	text-align: center !important;
}

.txt_l {
	text-align: left !important;
}

.txt_r {
	text-align: right !important;
}

.none {
	width: 0;
	height: 0;
	overflow: hidden;
}

/* ------ cleafixハック ------*/
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0.1em;
	line-height: 0;
}

*1257897500* html .clearfix {
	display: inline-block;
}
/* no ie mac \*/

*1257897501* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* */

/* IE7,MacIE5 */
.clearfix {
	display: inline-block;
}

/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/* ------ デバッグ用 ------*/
.aa {
	border: 1px solid #ff0000;
}

/*____________________margin____________________*/
.mt0 {margin-top:0px !important;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt6 {margin-top:6px !important;}
.mt7 {margin-top:7px !important;}
.mt8 {margin-top:8px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt11 {margin-top:11px !important;}
.mt12 {margin-top:12px !important;}
.mt13 {margin-top:13px !important;}
.mt14 {margin-top:14px !important;}
.mt15 {margin-top:15px !important;}
.mt16 {margin-top:16px !important;}
.mt17 {margin-top:17px !important;}
.mt18 {margin-top:18px !important;}
.mt19 {margin-top:19px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70 {margin-top:70px !important;}
.mt75 {margin-top:75px !important;}
.mt80 {margin-top:80px !important;}
.mt85 {margin-top:85px !important;}
.mt90 {margin-top:90px !important;}
.mt95 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt140 {margin-top:140px !important;}
.mt410 {margin-top:410px !important;}
.mt450 {margin-top:450px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml12{margin-left:12px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml_1em{margin-left:1em !important;}

.mr0{margin-right:0px !important;}
.mr2{margin-right:2px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr12{margin-right:12px !important;}
.mr15{margin-right:15px !important;}
.mr16{margin-right:16px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr26{margin-right:26px !important;}
.mr29{margin-right:29px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb8{margin-bottom:8px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb80{margin-bottom:80px !important;}


/*____________________padding____________________*/
.pt0 {padding-top:0px !important;}
.pt1 {padding-top:1px !important;}
.pt2 {padding-top:2px !important;}
.pt3 {padding-top:3px !important;}
.pt4 {padding-top:4px !important;}
.pt5 {padding-top:5px !important;}
.pt6 {padding-top:6px !important;}
.pt7 {padding-top:7px !important;}
.pt8 {padding-top:8px !important;}
.pt9 {padding-top:9px !important;}
.pt10 {padding-top:10px !important;}
.pt11 {padding-top:11px !important;}
.pt12 {padding-top:12px !important;}
.pt13 {padding-top:13px !important;}
.pt14 {padding-top:14px !important;}
.pt15 {padding-top:15px !important;}
.pt16 {padding-top:16px !important;}
.pt17 {padding-top:17px !important;}
.pt18 {padding-top:18px !important;}
.pt19 {padding-top:19px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt55 {padding-top:55px !important;}
.pt60 {padding-top:60px !important;}
.pt65 {padding-top:65px !important;}
.pt70 {padding-top:70px !important;}
.pt75 {padding-top:75px !important;}
.pt80 {padding-top:80px !important;}
.pt85 {padding-top:85px !important;}
.pt90 {padding-top:90px !important;}
.pt95 {padding-top:90px !important;}
.pt100 {padding-top:100px !important;}
.pt120 {padding-top:120px !important;}

.pb0 {padding-bottom:0 !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb40 {padding-bottom:40px !important;}
.pb100 {padding-bottom:100px !important;}
